<mat-card class="moto-card" mat-elevation-z8 appearance="outlined">
    <img class="card-image" mat-card-image [src]="moto.imageUrl" alt="{{ moto.model }}">
    <mat-card-content>
      <h2>{{ moto.brand }} {{ moto.model }}</h2>
      <p>Цена аренды: €{{ moto.hourlyRate }}/час</p>
      <p>Локация: {{ moto.location }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onRentClick()" color="primary" [disabled]="!moto.isAvailable">
        {{ moto.isAvailable ? 'Арендовать' : 'Недоступен' }}
      </button>
    </mat-card-actions>
  </mat-card>