.card {
    width: 30%;
    height: 10vw;
}

.card-container {
    display: flex;
}

p {
    color: #ebebeb;
}

.moto-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }